                <div class="section1">
                    <div class="frame5">
                        <div class="frame-entete-liste-covoiturage">
                            <p class="text-center">COVOITURAGE POUR</p>
                            <h2 class="text-center"><span>Ville1</span> - <span>Ville2</span></h2>
                        </div>
                        <div class="frame-body-liste-covoiturages">
                            <div class="frame-recherche">
                                <div class="frame-depart"><input type="search" name="frameDepart" id="frameDepart"></div>
                                <div class="frame-arrivee"><input type="search" name="frameArrivee" id="frameArrivee"></div>
                                <div><button class="component-bouton " type="submit" id="search-Btn">CHERCHER</button></div>
                            </div>
                            <div class="text-search accordion"><a href="">Affiner la recherche</a> </div>
                            <div class="panel">
                                <p>Lorem ipsum...</p>
                            </div>
                        </div>
                        <div class="frame-box-message" id="frame-box-message"></div>
                    </div>
                </div>
                <div class="section2">
                    <div class="frame-header-annonce">
                        <h4 class="text-center">ANNONCES CORRESPONDANTES</h4>
                    </div>
                    <div class="frame-annonce-card" id="frame-annonce-card">
                        <div class="annonce-card">
                            <div class="annonce-card-body" >
                                <div class="d-flex justify-content-center mb-3 mt-3">
                                    <img
                                        src="/images/icones/user_homme.png"  
                                        class="img-fluid"
                                        alt="image profil homme"
                                        sizes="34px"
                                    />
                                </div>
                                <p class="d-flex justify-content-center">NomUtilisateur</p>
                                <p class="d-flex justify-content-center" style="color: dimgray;">TypeUtilisateur</p>
                                <div class="d-flex justify-content-center flex-row gap-1" style="color: dimgray;">
                                    <p>VilleDepart </p> - <p> VilleArrivee</p>
                                </div>
                                <div class="d-flex justify-content-center flex-row gap-1">
                                    <p>Durée du trajet : </p><p>HeureDepart </p> - <p> heureArrivee</p>
                                </div>
                                <div class="d-flex justify-content-center flex-row gap-2">
                                        <p>Date :</p><p> dateCovoiturage</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex justify-content-center flex-column bg-dark-subtle" style="height: 70px; width: 70px;">
                                        <span class="d-flex justify-content-center" style="color: dimgray;">Places</span>
                                        <span class="d-flex justify-content-center">3</span>
                                    </div>
                                    <div class="d-flex justify-content-center flex-column bg-dark-subtle" style="height: 70px; width: 70px;">
                                        <span class="d-flex justify-content-center" style="color: dimgray;">Prix max</span>
                                        <span class="d-flex justify-content-center">29</span>
                                    </div>
                                </div>
                                <div class="mt-5 mb-3">
                                    <div class="text-search"><a class="d-flex justify-content-center mb-2" href="#">Voir les détails</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-box-autre-annonce mt-5">
                        <h4 class="text-center ">AUTRES ANNONCES</h4>
                    </div>
                    <div class="annonce-card mt-5" id="annonce-card"></div> 
                </div>