 <section id="searchCovoiturage">
            <div class="p-4 p-md-5 mb-3 rounded text-body-emphasis bg-body-secondary"> 
                <div class="col-lg-12 px-0"> 
                    <h1 class="display-4 fst-italic text-lg-center">Bienvenue sur EcoRide'Vert</h1> 
                    <p class="lead text-lg-center my-3">Votre solution de covoiturage écologique.</p> 
                        <div class="row mb-3 d-flex justify-content-around p-2">
                            <div class="col-sm-4 m-1 p-1">
                                <input type="text" class="form-control" placeholder="Adresse de départ">
                            </div>
                            <div class="col-sm-4  m-1 p-1">
                                <input type="text" class="form-control" placeholder="Adresse d'arrivée">
                            </div>
                            <div class="col-sm-3 d-flex justify-content-end align-content-center m-1 p-1">
                                 <button class="btn btn-success" type="submit">Chercher un covoiturage</button>
                            </div>
                        </div>
                </div> 
            </div>
        </section>

        <section> 
            <div class="offre-section" id="offre-section">
                <h1>Vous avez une offre ?</h1>  
                <p>Economiser dans vos déplacements ou publiez une annonce de covoiturage !</p>
                <div class="offre-proposition p-2 m-auto mb-2" id="offre-proposition">  
                    <p class="text-center mt-3"><b>Proposer des places</b></p> 
                    <div class="bouton-proposition">
                        <a href="/"><span>+</span></a>   
                    </div>
                </div> 
            </div>
        </section>

        <section class="information-section  mt-5" id="information-section">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">  
                    <div class="col"> 
                        <div class="frame-info"> 
                            <div class="frame-header-solution">
                                <span><b>Nos solutions de mobilité</b></span>
                            </div>
                            <div class="frame-body-solutions">
                                <p class="p-2">Employeurs, étudiants, collectivités vous rechercher un accompagnement pour développer la mobilité ?</p> 
                                <p class="p-2">Décrouvrez nos offres issues de notre expérience auprès de 50 utilisateurs de notre plateforme.</p> 
                            </div>
                            
                            <div class="d-flex justify-content-center align-items-center pb-3"> 
                                    <button type="button" class="btn btn-md btn-success text-black">Contactez-nous</button> 
                            </div> 
                        </div> 
                    </div>
                    <div class="col"> 
                        <div class="frame-info"> 
                            <div class="frame-header-solution">
                                <span><b>Qui sommes-nous ?</b></span> 
                            </div>
                            <div class="frame-body-solutions">
                                <p class="p-2">Notre mission : rendre les déplacements quotidiens accessibles, pratiques et durables pour tous.</p> 
                                <p class="p-2">Découvrez comment nous accompagnons nos utilisateurs pour une mobilité sécurisée et décarbonée</p> 
                            </div>
                            
                            <div class="d-flex justify-content-center align-items-center pb-3">  
                                    <button type="button" class="btn btn-md btn-success text-black">Nous connaître</button>  
                            </div> 
                        </div> 
                    </div>
                    <div class="col"> 
                        <div class="frame-info">  
                            <div class="frame-header-solution">
                                <span><b>Nos offres de covoiturages</b></span>
                            </div>
                            <div class="frame-body-solutions">
                                <p class="p-2">Décrouvrez nos offres de covoiturages issues de notre expérience auprès de plus de 50 utilisateurs de notre plateforme.</p> 
                                 <div class="offres-covoiturages" id="offres-covoiturages"></div>
                            </div>
                            
                            <div class="d-flex justify-content-center align-items-center pb-3"> 
                                    <button type="button" class="btn btn-md btn-success text-black"> Voir plus</button> 
                            </div>  
                        </div> 
                    </div>
                
                     
                </div>
            </div>
        </section>

        <!-- Conteneur pour la section des avis et notes des covoiturages -->
        <section class="avis-section" id="avis-section">
            <div class="avis">

            </div>
        </section> 