
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EcoRide'Vert</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/covoiturages/index.html">Covoiturages</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/annonces/index.html">Publier votre annonce</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/contact.html">Contact</a>
          </li>
          
        </ul>
        <form class="d-flex " role="search">
            <button class="btn btn-outline-success m-1" type="submit" id="create-account-btn">Créer un compte</button>
            <button class="btn btn-success m-1" type="submit" id="login-account-btn">Se connecter</button>
        </form>
      </div>
    </div>
</nav>
