// Couleurs
$primary-color: #008000;
$secondary-color: #00DD00;
$tertiary-color: #D9D9D9;
$text-color-primary: #0034A4;
$text-color-secondary:#000000;
$text-color-light:#ffffff;

$background-color-box-msg:#FDE175;
$card-background: #EFEFEF;
$border-color: #dee2e6;



// Polices
$primary-font: -apple-system,
                 BlinkMacSystemFont,
                'Segoe UI', 
                Roboto, Gantari,
                Tahoma, Arial, Helvetica, sans-serif;

// Espacement
$spacing-unit: 16px;

// Bordures
$border-radius: 8px;

// Ombres
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

// avis
$background-color-avis: #FFFFFF;
$border: 1px solid #B0B0B0;
$padding: 20px;
$margin-top: 20px;
$border-radius: 5px;


//  Footer
$primary-color-footer :#777777;
$color-footer : white;
$text-align : center;
$padding : 10px ;
$position : fixed;
$width : 100%   ;
$bottom : 0;