// Couleurs
$primary-color: #007bff;
$secondary-color: #6c757d;
$text-color: #343a40;
$text-color-light: #ffffff;
$background-color: #f8f9fa;
$card-background: #ffffff;
$border-color: #dee2e6;



// Polices
$primary-font: -apple-system,
                 BlinkMacSystemFont,
                'Segoe UI', 
                Roboto,
                Tahoma, Arial, Helvetica, sans-serif;

// Espacement
$spacing-unit: 16px;

// Bordures
$border-radius: 8px;

// Ombres
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

// avis
$background-color-avis: #FFFFFF;
$border: 1px solid #B0B0B0;
$padding: 20px;
$margin-top: 20px;
$border-radius: 5px;


//  Footer
$primary-color-footer :#777777;
$color-footer : white;
$text-align : center;
$padding : 10px ;
$position : fixed;
$width : 100%   ;
$bottom : 0;